body
{
	color: #727373!important;
	font-family: Ubuntu!important;
	text-align: justify;
}

h1,h2,h3{
	font-family: Arvo!important;
	font-weight: bold;
	letter-spacing: 3px;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}



/*header =================================================================================================*/
#top-banner{
	background: url("https://p.w3layouts.com/demos/bigwig/web/images/banner1.jpg") no-repeat fixed;
	height: 716px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-size: cover;
	
	width: 100%;
	/*background-attachment: relative;*/
}




.banner-container{
	padding-top: 10%;

}

#q-lawyer{
	color : #1FE4F8;
}

.tagline{
	color: black;
	letter-spacing: 4px;
	padding-top: 3%;
	font-weight: bold;
}

.button2{
	/*margin-top: 8%;*/
}

/*second section ==================================================================================================*/

#second {
	 margin-top: 7%;
}
.sec-txt{
	text-align: center;
}

.sec-txt > h5{
	color : #252525;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 16px;
}

#sec-container{
	/*margin-top: 5%;*/
	/*margin-left: 10%;*/
}

.first-txt > h1{
	color: black;
	font-weight: bolder;
	letter-spacing: 4px;
}

.sec-span > 	span{
	text-align: left;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 2px;
}

.sec-span{
	text-align: left;
	padding-left: 5%;
}

#sec-center-txt{
	margin-top: 10%;
	letter-spacing: 3px;
	font-size: 20px;
	text-align: center;
	color: #656565
}

#subscription-txt{
	margin-top: 10%;
    letter-spacing: 3px;
    margin-bottom: 0%;
    font-size: 20px;
    text-align: center;
    color: #252525;
}



#claim-btn{
	text-align: center;
	margin-top: 2%;
}

.button2.btn, .button2 .btn {
    padding: 10px 15px 9px 13px;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #eb6a2b!important;
    color: #fff!important;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}


#ruler{
	margin-top: 6%;
	margin-bottom: 5%
}

hr{
	border-top :1px solid #252525;
}

h3{
	letter-spacing: 3px;
	color: black;
}

#pra-txt{
	text-align: center;
	margin-top: 1%;
	/*font-size: 18px;*/
	margin-bottom: 3%;
}

#pra-txt > span{
	letter-spacing: 4px;
	font-size: 21px;
	line-height: 26px;
}

#plus{
	margin-top: 5%;
	margin-bottom: 5%;
}
#plus > h2{
	color: black;
	text-align: center;
}
#plus > h2 > a{
	color: #EB6A2B;
}

#plus-txt{
	margin-top: 3%;
}

#plus-txt > span{
	color: black;
	font-size: 19px;
	letter-spacing: 3px;

}


/*fourth section ====================================================================================================*/

#fourth{
	background-color: #e8f5e9;
	padding-bottom: 0%;
	margin-top: 3%;
}

#plus-txt > span{
	color: black;
	font-size: 19px;
	letter-spacing: 3px;

}


#iconic-txt{
	margin-top: 2%;
	/*text-align: left;*/
}

#tab-img{
	width : 100%;
}

./**/

.rhs-txt{
	text-align: justify;
	margin-left: 10%;
}

.rhs-txt > h4{
	color: black;
	font-weight: bold;
}
.rhs-txt > span{
	letter-spacing: 1px;
	font-size: 15px;

}
.icon-div{
	padding-top: 5%;
	padding-bottom :5%;
}
.upg-txt > span{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
}


/*fifth -----------------------------------------------------------------------------------------------------*/

 #fifth{
 	margin-top: 7%;
 }



#fifth-header{
	color: #252525;

}


.feature-imgs{

}
.slider-btn{
	margin-top: 150%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    height: 60%;
    margin-left: 10%;
}
.left, 
.carousel-control{
	background-color: none;
	background-image: none !important;

}
.carousel-caption{
	text-shadow: none;
}
.carousel-image{
	width: 50%;
	height: 60%;
}
.car-txt{
	margin-left : 40%;
	margin-bottom: 10%;
	letter-spacing: 2px;
	text-align: left;
	line-height: 20px;
	font-size : 18px;
}

.car-txt > span{
	font-size: 16px;
	color: #252525;
	letter-spacing: 1px;
	font-weight: normal;
}

/*sixth ===========================================================================================*/
#sixth{
	margin-top: 10%;
}



/*seventh -----------------------------------------------------------------------------------------*/

.span-txt{
	text-align: center;
	padding-bottom: 8%;
	font-size: 21px;
	letter-spacing: 3px;
}



#triangle-left {
	width: 0;
	height: 0;
	position: absolute;
	right: 100%;
	top : 0%;
	border-top: 10px solid transparent;
	border-right: 9px solid #B3B1B1;
	border-bottom: 10px solid transparent;
}
.feedback-txt{
	background-color: lightgrey;
	height: 160px;
	margin-left: 0%;
	text-align: left;
	padding-top: 5%;
}
.feedback-txt > span{
	font-size: 16px;
	letter-spacing: 2px;

}



/*eigth section--------------------------------------------------------------------------------------------------*/
#eigth{
	background-color: #eeeeee;
	margin-top: 10%;
	padding-bottom: 3%;
}

.ques-img{
	padding-top : 5%;
}
#support{
	padding-top: 5%;
	text-align: right;
}
#support > h4
{
	letter-spacing: 3px;
	color: black;
}
#support > a{
	letter-spacing: 3px;
	font-size: 16px;
	color: #EB6A2B;
	font-weight: bold;
	float: right;
	text-decoration: underline;
}
#support > span{
	letter-spacing: 3px;
	font-size: 18px;
	color: #252525

}




/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}








/*media queries for mobile -------------------------------------------------------------------------------*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	#top-banner{
		height: 400px;
	}
	.first-txt{
		font-size: 20px;
	}
	.tagline{
		font-size: 14px;
	}
	#second, #third, #fourth, #fifth{
		text-align: center;
		margin-top: 2%;
	}


	.feature-imgs{
		height: 50%;
		width : 20%;
	}	

	.feedback-txt{
		background-color: lightgrey;
		height: 120px;
		margin-left: 10%;
		text-align: center;
		padding-top: 5%;
	}
	#plus-txt{
		width : 100%;
	}

	h2{
		font-size: 20px;
	}
	h3{
		font-size: 18px;
		letter-spacing: 1px;
	}
	#tab-img{
		height : 50%;
		width: 80%;
	}
	i{
		letter-spacing: 2px;
	}
	.icons-imgs{
		width : 20%;
	}
	
	.feedback{
		height : 100%;
		width : 30%;
		margin-left: 29%;
		padding : 2% 2% 2% 5%;
	}

	#ruler{
		width:80%;
		margin-left: 10%;

	}
	#upgrade{
		text-align: center;
	}

	#triangle-left {
		width: 0;
		height: 0;
		position: absolute;
		right: 100%;
		top : 0%;
		border-top: 6px solid transparent;
		border-right: 8px solid #B3B1B1;
		border-bottom: 6px solid transparent;
	}
	.feedback-txt{
		height : 40%;
		width: 50%;
		font-size: 11px;
		margin-left: 3%;
		text-align: left;
	}

	.feedback-imgs{
		height: 90%;
		width: 100%;
	}

	footer{
		text-align: center;
	}
	.rhs-txt{
		
	}
	.icon-div{
		text-align: center;
	}
	#fourth,#seventh,#sixth{
		text-align: center;
	}
	.ques-img > img{
		width : 30%;
	}

}

@media only screen
and (min-device-width : 481px)	
and (max-device-width : 768px) {

	#iconic-txt{
		padding-top: 2%;
		padding-left: 5%;
	}
	.icons-imgs{
		height : 50%;
		width : 25%;
	}
	#right-img-container > img{
		width : 60%;
		
	}
	#tab-img{
		height : 50%;
		width: 50%;
	}
	.rhs-txt{
		/*text-align: left;*/
		/*width : 60%;*/
		/*font-size: 18px;*/
	}
	#plus-txt{
		width : 100%;
		/*text-align: center;*/
	}
	#second,#fourth,#seventh,#fifth,#sixth,footer{
		text-align: center;
	}
	#ruler{
		width:80%;
		margin-left: 10%; 

	}
	.feedback-txt{
	background-color: lightgrey;
	height: 170px;
	margin-left: 16%;
	width : 40%;
	/*text-align: left;*/
	padding-top: 5%;
}



}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	
	#tab-img{
		height : 50%;
		width: 150%;
	}	

	.rhs-txt{
		width : 55%;	
		margin-left: 10%;
	}
	.icons-imgs{
		height : 50%;
		width : 100%;
	}
	.feedback-txt{
		margin-left: 5%;
		width : 40%;
		/*overflow: hidden;*/
	}
}
