body
{
	color: #727373!important;
	font-family: Ubuntu!important;
	text-align: justify;
}

h1,h2,h3,h4{
	font-family: Arvo!important;
	font-weight: bold;
	letter-spacing: 5px;
	color: #252525;
}
span,p,h5,h6{
	font-family: Ubuntu!important;
}

#page-title{
	margin-top: 3%;
}
#page-title > h3{
	color: #1FE9FD;
	letter-spacing: 2px;
}
#page-title > h4{
	color: black;
	letter-spacing: 2px;
	padding-top: 2%;
}
#page-title > hr{
	border-top :1px solid grey;
}
.panel-title {
	font-weight: bold;
	color: #252525;
}

/*search section==============================================================================================*/

#question-block{
	background-color: white !important;
	border-color: white;
}
.panel{
	border : none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color : white;
}



/*booking section =====================================================================================*/

#booking{

	margin-top: 5%;
}

/*advisory======================================================================================================*/

#advisory{
	margin-top: 5%;
}




/*fourth section =============================================================================================*/

#fourth{
	background-color: #eeeeee;
	margin-top: 10%;
	padding-bottom: 5%;
	padding-top: 3%;
}

a{
	color: orange;
}
.ques-img{
	padding-top : 5%;
}
#support{
	padding-top: 5%;
}
#ques > h4{
	color: #252525;
	font-weight: bold;
	line-height: 30px;
	font-size: 23px;
	letter-spacing: 2px;
}

#ques > span{
	font-size: 18px;
	letter-spacing: 2px;
}

#support > h4
{
	letter-spacing: 3px;
	color: black;
}
#support > a{
	letter-spacing: 2px;
	color: orange;
	float: right;
}
#support > span{
	letter-spacing: 2px;
}


/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.col-sm-2 > h4{
	font-family: Ubuntu!important;
}
.col-sm-3 > h4{
	font-family: Ubuntu!important;	
}
.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}


/*media queries=============================================================================================*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
	h5{
		margin-left: 16%;
	}
}