body
{
	color: #727373!important;
	font-family: Ubuntu!important;
	text-align: justify;
	letter-spacing: 2px;
}

/*for header header.css is included in the html*/



h1, h2, h3{
	font-family: Arvo;
	font-weight: bolder;
	letter-spacing: 5px;
	color: #252525;
}

.button2.btn{
	font-size: 16px;
}

h1,h2,h3{
	font-family: Arvo!important;
	font-weight: bold;
	letter-spacing: 5px;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}



/*section -1 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#one{
	margin-top: 5%;
}

.first-txt  > h2{
	color: #1FE5F9;
}
.first-txt  > h4{
	color: #252525;
	font-weight: bold;
	letter-spacing: 4px;
}
#first-img{
	margin-top: 5%;
}
.imgs > img{
	width : 80%;
}
#first-txt{
	margin-top: 17%;
}
.txt > h4{
	color: #1FE5F9;
	font-weight: bold;

}
.txt > span{
	color: #252525;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 30px;
}
#second-txt{
	margin-top: 9%;
}
#grey-1{
	background-color: #f2f2f2;
	width: 100%;
	height : 400px;
	margin-top: 10%;
	background-attachment: fixed;
}
#second-img{
	margin-top: 3%;
}

/*third ========================================================================================*/

#third{
	margin-top: 15%;
	background-color: #eeeeee;
	padding-top: 3%;
	padding-bottom: 3%;

}
.third-txt > h4{
	color: black;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 3px;
}
.third-txt > span{
	font-size: 20px;
	letter-spacing: 3px;
}
.third-txt > a{
	color: #EB6A2B;
	font-size: 20px;
	letter-spacing: 2px;

}


/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}
