body
{
	color: #727373!important;
	font-family: Ubuntu!important;
	text-align: justify;
	letter-spacing: 2px;
}

/*for header header.css is included in the html*/



h1, h2, h3{
	font-family: Arvo;
	font-weight: bolder;
	letter-spacing: 5px;
}

.button2.btn{
	font-size: 16px;
}

h1,h2,h3{
	font-family: Arvo!important;
	font-weight: bold;
	letter-spacing: 5px;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}


/*top-banner =================================================================================================*/
#top-banner{
	background: url("home_lawyerbanner.jpg") no-repeat fixed;
	height: 716px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-size: cover;
	
	width: 100%;
	/*background-attachment: relative;*/
}

.banner-container{
	padding-top: 10%;

}

.first-txt > h1, h2{
	color: white;
	font-family: Arvo;
}
.first-txt > h2{
	font-family: Arvo;
	color: #1FE5F9;
}
#q-lawyer{
	color : #1FE4F8;
}
.tagline{
	color: white;
	letter-spacing: 4px;
	padding-top: 3%;
	font-weight: bolder;
	font-size: 21px;
	/*font-weight: bold;*/
}
#kn{
	/*padding: 10px 10px 10px 12px;*/
	font-size: 21px;
}

/*second section ==============================================================================================*/

#second{
	margin-top: 7%;
}
#sec-img-container{
	padding-top: 5%;
}
#second-txt > h2{
	letter-spacing: 3px;
}
#side-txt{
	padding-top: 5%;
}
#imac-txt{
	line-height: 30px;
	font-size: 24px;
	letter-spacing: 3px;
	color: black;
}


/*third section ===========================================================================================*/

#third{
	margin-top: 7%;
	background-color: #eeeeee;
}
#third-img-row{
	padding-top: 5%;

}

#network-txt{
	font-size : 19px;
	letter-spacing: 3px;
	padding-top: 4%;

}
#network-txt > span{
	font-size: 22px;
	word-spacing: 4px;
	line-height: 20px;
	letter-spacing: 3px;
	/*font-weight: bold;*/
	color: #252525;
}

#third-sec-txt{
	padding-top: 5%;
}
#third-sec-txt > h3{
	color: black;
	letter-spacing: 4px;
	font-size: 28px;
	font-family: Arvo;
}

#ipad-img{
	padding-bottom: 7%;
}

/*fourth section ================================================================================================*/

#fourth{
	margin-top: 7%;
	margin-bottom: 5%;
}
#fourth-txt-1{
	padding-top: 5%;
	margin-bottom: 5%;
	color: black;
	letter-spacing: 2px;
}

#fourth-txt-2{
	padding-top: 5%;
	margin-bottom: 7%;
	color: black;
	letter-spacing: 2px;
}

#colored-divs{
	padding-top: 5%;
	text-align: center;
}

#blue{
	height: 158px;
	/*width : 18%;*/
	background-color: #64b5f6;
	box-shadow: 2px 2px #888888;
	margin-bottom: 5%;
	text-align: center;
	padding-top: 15%;
	color: black;
}
#yellow{
	height: 158px;
	/*width : 18%;*/
	background-color: #eeff41;
	box-shadow: 2px 2px #888888;
	margin-bottom: 5%;
	padding-top: 15%;
}
#green{
	height: 158px;
	/*width : 18%;*/
	background-color: #26a69a;
	box-shadow: 2px 2px #888888;
	margin-bottom: 5%;
	padding-top: 15%;
}
#red{
	height: 158px;
	/*width : 18%;*/
	background-color: #f44336;
	box-shadow: 2px 2px #888888;
	margin-bottom: 5%;
	padding-top: 15%;
}

#fourth-imgs{
	padding-top: 3%;
}
.feedback{
	background-color: #eeeeee;
	height : 125px;
	text-align: center;
	padding : 2% 2% 2% 10%;
}
#bigger-img{
	padding-top : 3%;
	margin-bottom: 5%;
	/*padding-left: 2%;*/

}

.bigger-block{
	position: absolute;
	background-color: #eeeeee;
	top : 82%;
	left : 2.7%;
	width : 77.2%;
	height : 20%;
}

/*fifth sedtion ======================================================================================*/

#fifth{
	background-color: #eeeeee;
	margin-top: 7%;
	padding-bottom: 3%;
}
#fif-container{
	padding-bottom: 2%;
	padding-top: 2%;
}
#support > h3{
	font-size: 26px;
	color :#252525;
	letter-spacing: 6px;
	line-height: 35px;
	word-spacing: 5px;
	font-weight: bold;
}

#grey-block > span{
	font-size: 21px;
	color: #252525;
	letter-spacing: 2px;
}
#grey-block > a{
	padding-le
}
.icon-div{
	margin-bottom: 3%;
}



/*sixth section =============================================================================================*/

#sixth{
	background: url("home_lawyerbanner.jpg") no-repeat fixed;
	height: 416px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-position: center;
  	background-size: cover;
  	width: 100%;
}

#six-txt > h3{
	color: white;
	font-weight: bold;
}

#six-txt > span{
	color: white;
	font-weight: bolder;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 40px;
}
#know-btn{
	background-color: #1FE5F9!important;
	color: #252525!important
}


/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}




/*media queries =================================================================================*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	h1{
		font-size: 23px;
		font-family: Arvo;
	}
	h2{
		font-size: 18px;
		font-family: Arvo;
	}

	h3{
		font-size: 17px;
		font-family: Arvo;
	}

	#second, #third, #fourth, #fifth, footer{
		text-align: center;
	}

	#right-img-container > img{
		height: 100%;
		width : 88%;
	}
	#imac{
		height: 50%;
		width : 80%;	
	}
	.bigger-block{
		top : 81%;
		left : 9.8%;
		width : 80.5%;
		height : 35%;
		text-align: center;
	}

	#fourth-txt-1{
		text-align: center;
	}

	#fourth-txt-2{
		text-align: center;
	}

	#fourth-imgs{
		text-align: center;

	}
	.feedback{
		height : 100%;
		width : 43%;
		margin-left: 29%;
		padding : 2% 2% 2% 5%;
	}

	.smaller-img > img{
		/*height: 40%;*/
		width : 40%;
	}
	#ipad-img{
		height : 60%;
		width : 70%;
		margin-left: 15%;
	}
	#colored-divs{
		width: 80%;
		text-align: center;
		padding-left: 5%;
		margin-left: 5%;
	}
	#fifth {
		margin-top: 20%;
	}
	#search-btn{
		padding-bottom : 10%;
	}
}