body
{
	color: #727373!important;
	margin: 0px;	
	text-align: justify;
}
h1,h2,h3{
	font-family: Arvo!important;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}

/*first section =============================================================================================*/
#first{
	background : url('https://p.w3layouts.com/demos/photo_time/web/images/banner.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height : 280px;
	padding-top:4%;
}


#banner-txt{
	letter-spacing: 5px;
	color: white;
	text-align: center;
	font-weight: bolder;
	/*line-height: 30px;*/
}
#banner-txt > h4{
	line-height: 35px;
	font-size: 24px;
}	
#banner-heading {
	text-align: center;

}
#banner-heading > h2{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 6px;
	color: white;
}

/*second section =============================================================================================*/

#second{
	margin-top: 5%;
}

.sec-txt{
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 3%;
}

.sec-txt > span {
	line-height: 30px;
	font-size: 21px;
}

#about-img{
	margin-top: 5%;
}

h3 > a{
	color: #20E6FA;
	text-decoration: none;
}

.img-txt{
	/*margin-top: 5%;*/
}
.img-txt > h3{
	color: #252525;
	text-align: center;
	letter-spacing: 3px;
	line-height: 30px;
	font-weight: bold;

}

#aim-txt{
	margin-top : 7%;
	letter-spacing: 3px;
	/*text-align: center; */
	letter-spacing: 3px;
	text-align: center;

}
#aim-txt  > span{
	/*color: #252525;*/
	font-size: 21px;
	word-spacing: 3px;
	letter-spacing: 3px;
	line-height: 30px;
	word-spacing: 3px;
}









/*third section =======================================================================*/

#third{
	margin-top: 15%;
	background-color: #eeeeee;
	padding-top: 3%;
	padding-bottom: 3%;

}
.third-txt > h4{
	color: black;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 3px;
}
.third-txt > span{
	font-size: 20px;
	letter-spacing: 3px;
}
.third-txt > a{
	color: orange;
	font-size: 20px;
	letter-spacing: 2px;

}





//*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 2px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%;

}
#phn-number{
	color : #eee;
	font-size: 20px;
}
.col-sm-12 > hr{
	border-color: #f2f2f2;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 160%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;
	/*margin-left: 10%;*/
	line-height: 10px;

}


#terms-txt{
	color: #e0e0e0;
	font-size: 12px;

}











/*media*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
	#banner-txt{
	letter-spacing: 2px;
	color: white;
	text-align: center;
	padding-top: 3%;
	/*line-height: 10px;*/
	}
	#banner-heading > h1{
		font-size: 24px;
	}
	.sec-txt > h4 {
	/*line-height: 10px;*/
	font-size: 20px;
	}

	.sec-head{
		text-align: center;
	}
	.sec-head > {}

}

@media only screen
and (min-device-width : 481px)	
and (max-device-width : 768px){

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

}
