body
{
	color: #727373!important;
	margin: 0px;	
	text-align: justify;
}
h1,h2,h3{
	font-family: Arvo!important;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}



/*first section =================================================================================*/
#first{
	background : url('https://p.w3layouts.com/demos/photo_time/web/images/banner.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height : 365px;
	padding-top:5%;
}


.first-con{
	text-align: center;
}

#banner-txt{
	letter-spacing: 5px;
	color: white;
	text-align: center;
	font-weight: bolder;
	/*line-height: 30px;*/
}

#banner-txt > h4{
	line-height: 35px;
	font-size: 24px;
}	
#banner-heading {
	text-align: center;

}
#banner-heading > h1{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 6px;
	color: white;
}

/*second section ===============================================================================================*/

#second{
	margin-top: 12%;
}

.sec-txt{

	padding-left: 8%;
	text-align: left;
}

.sec-txt > h4{
	font-size : 22px;
	color: black;
	letter-spacing: 3px;
}
.sec-txt > span{
	letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 16px;
}

.devs{
	margin-bottom: 10%;
}

hr{
	border-color: #eeeeee; 
}

.lower{
	margin-top : 10%;
}

.lower-txt{
	text-align: center;
}
.lower-txt > span{
	font-size: 21px;
	letter-spacing: 3px;
	word-spacing: 2px;
}
.lower-txt >span> a{
	color: #EB6A2B;
	text-decoration: none;
}
.devs > .col-sm-1{
	text-align: center;
}







/*third section =======================================================================*/

#third{
	margin-top: 15%;
	background-color: #eeeeee;
	padding-top: 3%;
	padding-bottom: 3%;

}
.third-txt > h4{
	color: black;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 3px;
}
.third-txt > span{
	font-size: 20px;
	letter-spacing: 3px;
}
.third-txt > a{
	color: #EB6A2B;
	font-size: 20px;
	letter-spacing: 2px;

}








/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 1px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%; 
}
#phn-number{
	color : #eee;
	font-size: 20px;
}
#second > hr{
	border-color: grey;
	border-width : 2px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 150%;
}
.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;

}