body
{
	color: #727373!important;
	margin: 0px;	
	text-align: justify;
}
h1,h2,h3{
	font-family: Arvo!important;
}
span,p,h4,h5,h6{
	font-family: Ubuntu!important;
}

/*first section =================================================================================*/
#first{
	background : url('https://p.w3layouts.com/demos/photo_time/web/images/banner.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height : 280px;
	padding-top:5%;
	text-align: center;
}

.first-con{
	text-align: center;
}

#banner-txt{
	letter-spacing: 5px;
	color: white;
	text-align: center;
	font-weight: bolder;
	/*line-height: 30px;*/
}
#banner-txt > h4{
	line-height: 35px;
	font-size: 24px;
}	
#banner-heading {
	text-align: center;

}
#banner-heading > h1{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 6px;
	color: white;
}

/*second section ===============================================================================================*/

#second{
	margin-top: 5%;
	text-align: center;
}
.sec-head{
	letter-spacing: 3px;
	color: #20E2F6;
}
.sec-head > h2{
	font-size : 22px;
}
.sec-txt{
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 5%;
}
.sec-txt > span{
	font-size: 21px;
}
hr{
	border-color: black;
}

#img-row{
	margin-top: 10%; 
	text-align: center;
}
#img-row2{
	margin-top: 12%;
}

.team-pics{
	/*padding-top: 2%*/
	padding-right : 3%;
	text-align: center;
}


.team-pics > img{
	width: 190px;
	height : 212px;
	padding-bottom: 11px;
}
.team-pics > h4{
	padding-bottom: 0px;
	color: #1FE4F8;	
	font-size: 19px;
	letter-spacing: 3px;
}
.team-pics > span{
	padding-top: 2px;
	color: black;
	font-size: 17px;
	letter-spacing: 1px;
}
.team-pics > a{
	text-align: center;
}
.team-pics > a > .social-1{
	width: 9%;
	text-align: center;
	padding-top: 5px;
	margin-right: 10%;
	margin-left: 5%;
} 

.team-pics >a> .social {
	width : 8%;
	text-align: center;
	padding-top: 5px;
	height : 7%;
	margin-right: 10%;
}



/*third section =======================================================================*/

#third{
	margin-top: 15%;
	background-color: #eeeeee;
	padding-top: 3%;
	padding-bottom: 3%;

}
.third-txt > h4{
	color: black;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 3px;
	padding-bottom: 2%;
}
.third-txt > span{
	font-size: 20px;
	letter-spacing: 3px;
}
.third-txt > a{
	color: #EB6A2B;
	font-size: 20px;
	letter-spacing: 2px;

}


/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	/*margin-top: 20%;*/
	height: 90%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 1px;
	/*line-height: 20px;*/


}
#phn-number{
	color : #eee;
	font-size: 20px;
}

.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}
#footer-logo{
	padding-left: 2%; 
}
.col-sm-12 > hr{
	border-color: #eee;
	border-width : 1px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 5%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 150%;
}






/*.............spritesheet style...............................*/

.sprite {
		/*margin-right: 7%;*/
    background-image: url('black-icon-sheet.png');
		background-size: 75px 15px;
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-f {
    width: 15px;
    height: 15px;
    background-position: 0 0;
    padding-right: 5%;
}

.sprite-g {
    width: 15px;
    height: 15px;
    background-position: -15px 0;
}

.sprite-l {
    width: 15px;
    height: 15px;
    background-position: -30px 0;
    padding-right: 5%;
}

.sprite-t {
    width: 15px;
    height: 15px;
    background-position: -45px 0;
    padding-right: 5%;
}

.sprite-w {
    width: 15px;
    height: 15px;
    background-position: -60px 0;
    padding-right: 5%;
}⁠

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;

}




/*media queries =======================================================================================*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
	#banner-txt{
	letter-spacing: 2px;
	color: white;
	text-align: center;
	padding-top: 3%;
	/*line-height: 10px;*/
	}
	#banner-heading > h1{
		font-size: 24px;
	}
	.sec-txt > h4 {
	/*line-height: 10px;*/
	font-size: 20px;
	}

	.sec-head{
		text-align: center;
	}
	.sec-head > {}

}

@media only screen
and (min-device-width : 481px)	
and (max-device-width : 768px){

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

}
