
body
{
	color: #727373!important;
	margin: 0px;	
	text-align: justify;
}
h1,h2{
	font-family: Arvo!important;
}
span,p,h3,h4,h5,h6{
	font-family: Ubuntu!important;
}

#first{
	background : url('https://p.w3layouts.com/demos/photo_time/web/images/banner.jpg') no-repeat fixed;
	background-size: cover;
	width: 100%;
	height : 280px;
	padding-top:5%;
}

.first-con{
	text-align: center;
}

#banner-txt{
	letter-spacing: 5px;
	color: white;
	text-align: center;
	font-weight: bolder;
	/*line-height: 30px;*/
}
#banner-txt > h4{
	line-height: 35px;
	font-size: 24px;
}	
#banner-heading {
	text-align: center;

}
#banner-heading > h1{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 6px;
	color: white;
}

/*second section ================================================================================================*/
#second{
	margin-top: 16%;
}

.sec-txt{
	letter-spacing: 2px;
}
.sec-txt > h3{
	letter-spacing: 3px;
	font-family: Ubuntu;
}
.sec-txt > h4 {
	/*line-height: 10px;*/
	font-size: 25px;
}
#vertical-line{
	border-left: thick solid #f2f2f2;
}


.form-label{
	/*font-size: 100px;*/
	font-weight: 500;
	color: #252525;	
}
.message-box{
	margin-top: 6%;
}


.form-control{
	background-color: #f2f2f2;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	padding-top: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}
textarea.form-control{
	box-shadow: inset 0px 0.5px 1px;
	padding-top: 15%;
}
.vertical-divider{
	border-left : solid 2px #f2f2f2; 
	margin-right : 3%;
}

.social-icons{
	background-color: #1FE4F8;
	width: 5%;
}

/*footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer{
	background-color: #252525;
	margin-top: 20%;
	height: 90%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.block-text{
	font-size : 14px;
	color: white;
	font-family: 'Montserrat';
	line-height: 25px;
	letter-spacing: 1px;
	/*line-height: 20px;*/


}
.block-header{
	font-size: 15px;
	color: #1FE4F8;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	word-spacing: 1px;
	font-weight: bold;

}

#footer-logo{
	padding-left: 2%; 
}
#phn-number{
	color : #eee;
	font-size: 20px;
}
#second > hr{
	border-color: grey;
	border-width : 2px;
}

#input-field{
	padding-right: 3%;
	width : 50%;
}

#input-txt{
	padding-left: 3%;
	padding-top: 4%;
	padding-bottom: 4%;
	width : 150%;
}

.social-txt > span{
	color: #1FE4F8;
	letter-spacing: 2px;
	word-spacing: 1px;
	font-weight: bold;

}


/*media queries =========================================================================*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
	#banner-txt{
	letter-spacing: 2px;
	color: white;
	text-align: center;
	/*line-height: 10px;*/
	}
	.sec-txt > h4 {
	/*line-height: 10px;*/
	font-size: 20px;
	}

}

@media only screen
and (min-device-width : 481px)	
and (max-device-width : 768px){

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

}