<!DOCTYPE html>
<html>
<head>
	<title>Are you a lawyer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="are_you_a_lawyer.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>
	<section id="top-banner" class="img-responsive">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-10 ask-que">
					<div class="row ask-butt-box">
						<div class="col-sm-10 first-txt">
							<h1>LEGAL ONLINE.</h1>
						</div>
					</div>		
					<div class="row">
						<div class="col-sm-9">
							<h2 class="tagline">
								<i>Grow your practice & get new clients</i>	
							</h2>
						</div>
					</div>	
							
				</div>
			</div>
		</div>
	</section>
	<section id = "second">
		<div class="container container-fluid" id="sec-container">
			<div class="row" >
				<div class="col-sm-12 ask-que">
					<div class="row">
						<div class="col-sm-4 sec-txt">
							<img src="icons/areyoualawyer_brand.png"><br><br>
							<h5>BUILD AN ONLINE BRAND</h5><br><br>
							
							<div class = "sec-span">
								<span>Get a high cusytomisable profile to showcase your expertise, capabilities and achievements.
								</span>
							</div>	
						</div>
						<div class="col-sm-4 sec-txt">
							<img src="icons/areualawyer_network.png"><br><br>
							<h5>GROW YOUR NETWORK</h5><br><br>
							<div class = "sec-span">
								<span>Answer legal qestions, post publications & earn recommendations from your network.</span>
							</div>		
						</div>
						<div class="col-sm-4 sec-txt">
							<img src="icons/areualawyer_manage.png"><br><br>
							<h5>REACH MORE CLIENTS</h5><br><br>
							<div class = "sec-span">
								<span>Increase your business prospects by getting in front of new potential clients.</span>
							</div>
						</div>
					</div>
				</div>
			<div class="row">	
				<div class="col-sm-12">	
					<div class=""  id="subscription-txt">
						<span>It all starts with a Lawyered profile! It's easy and free.</span><br>
					</div>
					<div class="row" id = "claim-btn">
						<a  class="btn btn-default button2"  href="{% url 'lawyer_customer_signin' %}">claim your profile</a>
					</div>
					<div class="row col-sm-4 col-sm-offset-4" id="ruler">
						<hr>
					</div>
				</div>
				<div class="row col-sm-8 col-sm-offset-2">
					<h3>
						IS FINDING NEW CLIENTS BECOMING A CONCERN?
					</h3>
				</div>
				<div class="row col-sm-8 col-sm-offset-2" id = "pra-txt">
					<span><i>Add our smart practice features to your lawyered profile and make your legal practice effortless.</i></span>
				</div>
				<div class="row col-sm-8 col-sm-offset-2" id="plus">
					<h2>
						UPGRADE TO LAWYERED <a> PLUS!</a>
					</h2>
				</div>
			</div>
		</div>
	</section>


	<section id="fourth">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<!-- <div class="row"> -->
						<div class="col-sm-4" id="plus-txt">
							<h3>LAWYERED <a style="color: #EB6A2B;">PLUS</a></h3><br><br><br>
							<span>Upgrade to Lawyered Plus for just Rs. 4999 for 3 months!</span><br><br><br><br>
							<img id  = "tab-img" src="tab.png">
						</div>
						<div class="col-sm-6 col-sm-offset-2 center" id="iconic-txt">
							<div class="row icon-div">
								<div class="col-sm-3" id="">
									<img src="icons/connectivity.jpg" class="icons-imgs">
								</div>
								<div class="col-sm-7 rhs-txt">

									<h4>Connect globally</h4><br>
									<span>Connect with your clients through various channels and widen your accessibility.</span>
								</div>
							</div>

							<div class="row icon-div">
								<div class="col-sm-3 " id="">
									<img src="icons/reviw.jpg" class="icons-imgs">
								</div>
								<div class=" col-sm-7 rhs-txt">
									<h4>Showcase brilliance</h4><br>
									<span>Help your clients book appointments based on your preferred time slots.</span>
								</div>
							</div>

							<div class="row icon-div" id = "last-icon">
								<div class="col-sm-3" >
									<img src="icons/calander.jpg" class="icons-imgs">
								</div>
								<div class=" col-sm-7 rhs-txt">
									<h4>Practice smart</h4><br>
									<span>Reviews by clients that helps build trust and drives potenial clients.</span>
								</div>
							</div>
							
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</section>


	<section id="fifth">
		<div class="container container-fluid" id="sec-container">
			<div class="row span-txt">
						<div class="col-sm-12">
							<h2 id="fifth-header">WHY SHOULD YOU UPGRADE?</h2>
							<span class="span-txt"><i>Because legal is now online</i></span>
						</div>	
					<!-- </div> -->
					</div>			
					
					<div class="row">
						<div class="col-sm-12" id="upgrade">
							<div class="col-sm-5 col-sm-offset-1">
								<div class="row icon-div">
									<div class="col-sm-3" id="">
										<img src="icons/mail.jpg" class="feature-imgs">
									</div>
									<div class="col-sm-8 upg-txt">
										<span>Get real time notificaitions straight to your inbox by Email or SMS.</span>
									</div>
								</div>

								<div class="row icon-div">
									<div class="col-sm-3" id="">
										<img src="icons/monitor.jpg" class="feature-imgs">
									</div>
									<div class="col-sm-8 upg-txt">
										<span>Drive more traffic by having a feature rich profile with real reviews and contact details.</span>
									</div>
								</div>
							</div>

							<div class="col-sm-5 col-sm-offset-1">
								<div class="row icon-div">
									<div class="col-sm-3" id="">
										<img src="icons/save.png" class="feature-imgs">
									</div>
									<div class="col-sm-8 upg-txt">
										<span>Save time and money that you would spend on acquiring new clients.</span>
									</div>
								</div>

								<div class="row icon-div">
									<div class="col-sm-3" id="">
										<img src="icons/client.jpg" class="feature-imgs">
									</div>
									<div class="col-sm-8 upg-txt">
										<span>Know your client and their requirements even before meeting them.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			
	</section>
	<section id="sixth">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					
						<div class="col-sm-12 span-txt">
							<div class="row">
								<h2 id="fifth-header">HOW IT WORKS</h2>
							</div>		
						</div>
				</div>
				<!-- carousel -->	
				<div id="mycarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#mycarousel" data-slide-to="1"></li>
				    <li data-target="#mycarousel" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="areualawyer_mac1.png" alt="" class="carousel-image">
				      <div class="carousel-caption col-sm-3 car-txt">
				        <span><i>Sign up on Lawyered and setup your profile.</i></span>
				      </div>
				    </div>
				    <div class="item">
				      <img src="areualawyer_mac1.png" alt="..." class="carousel-image">
				      <div class="carousel-caption col-sm-3 car-txt">
				        <span><i>Are you a lawyer?</span></i></h5>
				      </div>
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
				    <img src="left.png" class="slider-btn">
				  </a>
				  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
				    <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
				    <img src="center.png" class="slider-btn">
				  </a>
				  </div>
				  <div class="row" id="subscription-txt">
						<h3 style="color : #252525; text-align: center; ">FIXED SUBSCRIPTION COST, UNLIMITED RETURNS<br></h3>
				  </div>
					<div class="row" id = "claim-btn">
						<a  class="btn btn-default button2"  href="#">get started</a>
					</div>
					<div class="row col-sm-4 col-sm-offset-4" id="ruler">
						<hr>
					</div>
			</div>
		</div>		
	</section>
	<section id="seventh">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-8 col-sm-offset-2 span-txt">
							<div class="row">
								<h3>WHAT LAWYERS ARE SAYING ABOUT US</h3>
							</div>		
					</div>
				</div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="row icon-div">
								<div class="col-sm-4 col-xs-3">
									<img src="download.jpg" class="feedback-imgs">
								</div>
								<div class="col-sm-6 col-xs-3 feedback-txt">
									<div id = "triangle-left"></div>
									<span>Congratulations! Hope the platform will also support those who are not so aware of legal process.</span>
								</div>
							</div>

							<div class="row icon-div">
								<div class="col-sm-4 col-xs-3" >
									<img src="download.jpg" class="feedback-imgs">
								</div>
								<div class="col-sm-6 col-xs-3 feedback-txt" >
									<div id = "triangle-left"></div>
									<span>Congratulations! Hope the platform will also support those who are not so aware of legal process.</span>
								</div>
							</div>
					</div>
						<div class="col-sm-6 col-xs-12">
							<div class="row icon-div">
								<div class="col-sm-4 col-xs-3" id="">
									<img src="download.jpg" class="feedback-imgs">
								</div>
								<div class="col-sm-6 col-xs-3 feedback-txt">
									<div id = "triangle-left"></div>
									<span>Save time and money that you would spend on acquiring new clients.</span>
								</div>
							</div>
							<div class="row icon-div">
								<div class="col-sm-4 col-xs-3" id="">
									<img src="download.jpg" class="feedback-imgs">
								</div>
								
								<div class="col-sm-6 col-xs-3 feedback-txt">
									<div id = "triangle-left"></div>
									<span>Know your client and their requirements even before meeting them.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
	</section>


	<section id = "eigth">
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-3 col-sm-offset-1 ques-img">
						<img src="questionmark_help.png">
					</div>
					<div class="col-sm-6 col-sm-offset-2" id="support">
						<h3>Have more questions for us?</h3><br>
						<span>Check out our lawyer support<br>
						Hope it covers all your questions!
						</span><br><br><br>
						<a href="#">LAWYER SUPPORT</a>
					</div>
				</div>
			</div>
		</div>		
	</section>


	<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #252525; 
							border: 2px solid white; font-style: italic;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 30%; width : 35%">
				</div>
				<div class="row">
				<div id = "footer-txt-conatiner" class="col-sm-12">
					<div class="col-sm-8" id="terms-txt"><br>
						<span style=""><i>All rights reserved. Lawyered provides information and software only. 
						Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
						in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
						Use of  Lawyer is subject to our <a href="#" style="color: #EB6A2B; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: #EB6A2B; text-decoration: underline;">Privacy Policy.
						</a></i>
						</span>
					</div>
					<div class="col-sm-3 col-sm-offset-1 social-txt">
						<span><br>
							WE ARE SOCIAL @<br>
							<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
							<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
							<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
							<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
						</span>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>


</body>
<script type="text/javascript">
</script>
</html>