<!DOCTYPE html>
<html>
<head>
	<title>Lawyered Contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="lawyered_contact.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="top-nav" role="navigation">
				<div class="container container-fluid">
					<div class="navbar-header center-block">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img class = "center-block" alt="Brand" id="lawyered-logo" src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png">
						</a>	

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right"id="top-ul">
							<li class="top-links"><a class="links-a" href="/advisory">advisory</a></li>
							<li class="top-links"><a class="links-a"href="#">search</a></li>
							<li class="top-links"><a class="links-a" href="#">legal disrupt</a></li>	
							<li class="top-links modalcheck">
								<a  class="btn btn-default button2"href="{% url 'lawyer_customer_signin' %}">Sign In</a>
								
							</li>
						</ul>
					</div>	
				</div>				
		</nav>
	</header>
	<section id="first">
		<div class="container banner-container">
			<div class="row first-con">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4" id="banner-heading" >
							<h1>CONTACT US</h1><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1" id="banner-txt">
							<h4>If you need any assistance or have any questions, feel free to contact us. We are happy to help!
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>

	<section id="second">
		<div class="container banner-container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="row">
						<div class="col-sm-5 col-md-5">
							
								<div class="sec-txt">
									<h4>We are reachable on </h4><br>
								</div>

							
								<div class="sec-txt">
									<h4 style="color: #656565;"><b>011-40506333</b></h4><br>
								</div>
							
								<div class="sec-txt">
									<h4>Call us on Monday - Saturday<br> 9 AM - 9PM IST</h4><br>
									<hr><br>
								</div>	
								
								<div class="sec-txt">
									<h4>You can also mail us at<br> <a href="#" style="color: #656565;text-decoration: none;"><b>info@lawyered.in</b></a></h4><br>
									<hr>
								</div>	
								
								<div class="sec-txt">
									<h4>We are social @ </h4><br>
									<a href="http://www.facebook.com"><img src = "icons/fb-white.png" class="social-icons"></a>
									<a href="http://www.facebook.com"><img src = "icons/twitter.gif" class="social-icons"></a>
									<a href="http://www.facebook.com"><img src = "icons/link-white.png" class="social-icons"></a>
									<a href="http://www.facebook.com"><img src = "icons/google-white.png" class="social-icons">
									</a>

								</div>

						</div>

						<div class="col-sm-5 col-sm-offset-1  vertical-divider">
							<div class = "col-sm-offset-1">
							<div class="sec-txt">
								<h3>Send us a message</h3><br>
							</div>
							<form id = "contact-form">
								<div class="form-group">
    								<label for="exampleInputEmail1 " class="form-label">NAME</label>
    								<input type="email" class="form-control " id="exampleInputEmail1">
  								</div>
  								<div class="form-group">
    								<label for="exampleInputEmail1" class="form-label">E-MAIL</label>
    								<input type="email" class="form-control" id="exampleInputEmail1">
  								</div>
  								<div class="form-group">
    								<label for="exampleInputEmail1" class="form-label">PHONE NUMBER</label>
    								<input type="email" class="form-control" id="exampleInputEmail1">
  								</div>
  								<div class="form-group">
    								<label for="exampleInputEmail1" class="form-label">MESSAGE</label>
    								<textarea class="form-control" rows="3"></textarea>
  								</div>
  								<a  class="btn btn-default button2 message-box" href="#">Message</a>
							</form>
						</div>
						</div>
					</div>	
						
				</div>	
			</div>
		</div>		
	</section>
	
		<footer>
		<div class="container container-fluid" id="sec-container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-2">
						<h4 class="block-header">LAWYERED.IN</h4><br>
						<span class="block-text">Ask question</span><br>
						<span class="block-text">Search a lawyer</span><br>
						<span class="block-text">Legal disrupt</span><br>
						<span class="block-text">How it works</span><br>
						<span class="block-text">FAQ</span><br>
						<span class="block-text">Site map</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">FOR LAWYERS</h4><br>
						<span class="block-text">Overview</span><br>
						<span class="block-text">Lawyered Plus</span><br>
						<span class="block-text">Register</span><br>
						<span class="block-text">Lawyer Support</span><br>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<h4 class="block-header">CONNECT WITH US</h4><br>
						<span class="block-text">About us</span><br>
						<span class="block-text">Team</span><br>
						<span class="block-text">Career</span><br>
						<span class="block-text">Contact</span><br>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<h4 class="block-header">ASSISTANCE</h4><br>
						<span id="phn-number">011-41096677</span><br>
						<span class="block-text">Call us Monday-Saturday</span><br>
						<span class="block-text">9AM - 9PM IST</span><br>
						<h4 class="block-header">STAY UPDATED</h4><br>
						<div id="input-field">
							<input type="text" placeholder="Enter Your Email ID" id = "input-txt" style="background-color: #e0e0e0; 
							border: 2px solid white;"><br><br>
						</div>
					</div>
					
				</div>
			</div>
				<div class="col-sm-12">
					<hr><br>
				</div>
					
				<div id = "footer-logo" class="row col-sm-4">
					<img src="https://s3-ap-southeast-1.amazonaws.com/prelawyered/logo.png" style = "height : 20%; width : 30%">
				</div>
				<div id = "footer-txt-conatiner" class="row col-sm-12">
					<div class="col-sm-8"><br>
						<span style="color: #e0e0e0;font-size: 13px;"><i>All rights reserved. Lawyered provides information and software only. 
						Lawyered is not a "lawyer referral service" and does not provide legal advice or participate
						in any legal representaion. Lawyered is not a law firm or a substitute for an attorney or law firm.
						Use of Rocket Lawyer is subject to our <a href="#" style="color: orange; text-decoration: underline;">Terms of Service</a> and <a href="#" style="color: orange; text-decoration: underline;">Privacy Policy.
						</a></i>
						</span>
					</div>
				<div class="col-sm-3 col-sm-offset-1 social-txt">
					<span><br>
						WE ARE SOCIAL @<br><br>
						<img src="icons/fb-white.png" style="height : 10%; width: 10%;">
						<img src="icons/twitter.gif" style="height : 10%; width: 8%; margin-left: 6%;">
						<img src="icons/link-white.png" style="height : 10%; width: 10%; margin-left: 6%;">
						<img src="icons/google-white.png" style="height : 10%; width: 8%; margin-left: 6%;">
					</span>
				</div>
				</div>
			</div>
			</div>
		</div>		
	</footer>



</body>
</html>
